li {
    list-style-type: none;
}

.table-responsive .innercard {
    margin: 10px 10px;
!important;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.035);
    box-shadow: 10px 11px 6px rgba(0, 0, 0, 0.035);
    border: 2px solid rgba(0, 0, 0, 0.035);
    border-radius: 10px;
    height: 500px;
}

.table-responsive .col-lg-4 {
    width: 31.333333%;
!important;
}
